.main {
    // .main__read-more

    &__read-more {
    }
    &__our-design {
        margin-top: 60px;
    }
    &__trident {
        margin-top: 80px;
    }
    &__modular-house {
        margin-top: 147px;
    }
    &__catalogue {
        margin-top: 100px;
    }
    &__big-slider {
        margin-top: 102px;
    }
    &__seo-headline {
        margin-top: 85px;
        margin-bottom: 100.5px;
    }
}
